.window {
    max-width: 420px;
    text-align: center;
  }
  
  .window-body {
    margin: 0;
    cursor: pointer;
    
    img {
      width: 50%;
      user-select: none;
    }
  }

  .status-bar {
    user-select: none;

    p {
      padding: 0.2rem 0;
      font-size: 0.9rem;
    }

    p:nth-child(2) {
      color: blue;
      cursor: pointer;

      &:active {
        opacity: 0.7;
      }
    }
  }